<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="edu.ufc.femtost.disc.sysml4modelica.profile.sysml4modelica.sysml4modelicaPackage"
            genModel="profile/SysML4Modelica.profile.genmodel"
            uri="http://www.femto-st.fr/disc/SysML4Modelica">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="edu.ufc.femtost.disc.sysml4modelica.profile.sysml4modelica.util.sysml4modelicaResourceFactoryImpl"
            type="SysML4Modelica">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml#_XkGiwB07Ed-QQ4mYkrb7Gg"
            uri="http://www.femto-st.fr/disc/SysML4Modelica">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="edu.ufc.femtost.disc.sysml4modelica.profile.classes.classesPackage"
            genModel="profile/SysML4Modelica.profile.genmodel"
            uri="http://www.femto-st.fr/disc/SysML4Modelica/Classes">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="edu.ufc.femtost.disc.sysml4modelica.profile.classes.util.classesResourceFactoryImpl"
            type="Classes">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml#_Z9wxsMbPEeKThuE6BjWoqQ"
            uri="http://www.femto-st.fr/disc/SysML4Modelica/Classes">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="edu.ufc.femtost.disc.sysml4modelica.profile.types.typesPackage"
            genModel="profile/SysML4Modelica.profile.genmodel"
            uri="http://www.femto-st.fr/disc/SysML4Modelica/Types">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="edu.ufc.femtost.disc.sysml4modelica.profile.types.util.typesResourceFactoryImpl"
            type="Types">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml#_l0KigMbQEeKThuE6BjWoqQ"
            uri="http://www.femto-st.fr/disc/SysML4Modelica/Types">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="edu.ufc.femtost.disc.sysml4modelica.profile.components.componentsPackage"
            genModel="profile/SysML4Modelica.profile.genmodel"
            uri="http://www.femto-st.fr/disc/SysML4Modelica/Components">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="edu.ufc.femtost.disc.sysml4modelica.profile.components.util.componentsResourceFactoryImpl"
            type="Components">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml#_osBgcMbQEeKThuE6BjWoqQ"
            uri="http://www.femto-st.fr/disc/SysML4Modelica/Components">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="edu.ufc.femtost.disc.sysml4modelica.profile.equationsandalgorithms.equationsandalgorithmsPackage"
            genModel="profile/SysML4Modelica.profile.genmodel"
            uri="http://www.femto-st.fr/disc/SysML4Modelica/EquationsAndAlgorithms">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="edu.ufc.femtost.disc.sysml4modelica.profile.equationsandalgorithms.util.equationsandalgorithmsResourceFactoryImpl"
            type="EquationsAndAlgorithms">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml#_u4nlkMbQEeKThuE6BjWoqQ"
            uri="http://www.femto-st.fr/disc/SysML4Modelica/EquationsAndAlgorithms">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="edu.ufc.femtost.disc.sysml4modelica.profile.other.otherPackage"
            genModel="profile/SysML4Modelica.profile.genmodel"
            uri="http://www.femto-st.fr/disc/SysML4Modelica/Other">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="edu.ufc.femtost.disc.sysml4modelica.profile.other.util.otherResourceFactoryImpl"
            type="Other">
      </parser>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml#_1LWu8MbQEeKThuE6BjWoqQ"
            uri="http://www.femto-st.fr/disc/SysML4Modelica/Other">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://SysML4Modelica_PROFILES/"
            target="platform:/plugin/edu.ufc.femtost.disc.sysml4modelica.profile/profile/">
      </mapping>
      <mapping
            source="pathmap://SysML4Modelica_LIBRARIES/"
            target="platform:/plugin/edu.ufc.femtost.disc.sysml4modelica.profile/library/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="edu.ufc.femtost.disc.sysml4modelica.profile.ModelicaLibrary"
            objectClass="org.eclipse.uml2.uml.Model">
         <action
               class="edu.ufc.femtost.disc.sysml4modelica.profile.ui.ImportModelicaStandardLib"
               id="edu.ufc.femtost.disc.sysml4modelica.profile.ImportModelicaStandardLib"
               label="Import Modelica Standard Library"
               menubarPath="new">
         </action>
      </objectContribution>
   </extension>



</plugin>
