<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML4Modelica.profile -->
      <package uri="http://www.femto-st.fr/disc/SysML4Modelica" class="edu.ufc.femtost.disc.sysml4modelica.profile.sysml4modelica.sysml4modelicaPackage" genModel="profile/SysML4Modelica.profile.genmodel"></package>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sysml4modelica -->
      <package
            uri="http://www.femto-st.fr/disc/SysML4Modelica/Classes"
            class="edu.ufc.femtost.disc.sysml4modelica.profile.classes.classesPackage"
            genModel="profile/SysML4Modelica.profile.genmodel"/>
   </extension>
   <extension point="org.eclipse.uml2.uml.generated_package">
      <profile location="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml#_DPX8cCmvEeOqNeVB2HB3cA" uri="http://www.femto-st.fr/disc/SysML4Modelica">
      </profile>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sysml4modelica -->
      <package
            uri="http://www.femto-st.fr/disc/SysML4Modelica/Types"
            class="edu.ufc.femtost.disc.sysml4modelica.profile.types.typesPackage"
            genModel="profile/SysML4Modelica.profile.genmodel"/>
   </extension>
   <extension point="org.eclipse.uml2.uml.generated_package">
      <profile location="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml#_4fFNMCmvEeOqNeVB2HB3cA" uri="http://www.femto-st.fr/disc/SysML4Modelica/Classes">
      </profile>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sysml4modelica -->
      <package
            uri="http://www.femto-st.fr/disc/SysML4Modelica/Components"
            class="edu.ufc.femtost.disc.sysml4modelica.profile.components.componentsPackage"
            genModel="profile/SysML4Modelica.profile.genmodel"/>
   </extension>
   <extension point="org.eclipse.uml2.uml.generated_package">
      <profile location="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml#_73GR4CmvEeOqNeVB2HB3cA" uri="http://www.femto-st.fr/disc/SysML4Modelica/Types">
      </profile>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sysml4modelica -->
      <package
            uri="http://www.femto-st.fr/disc/SysML4Modelica/EquationsAndAlgorithms"
            class="edu.ufc.femtost.disc.sysml4modelica.profile.equationsandalgorithms.equationsandalgorithmsPackage"
            genModel="profile/SysML4Modelica.profile.genmodel"/>
   </extension>
   <extension point="org.eclipse.uml2.uml.generated_package">
      <profile location="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml#_s--8MCmxEeOqNeVB2HB3cA" uri="http://www.femto-st.fr/disc/SysML4Modelica/Components">
      </profile>
   </extension>


   <extension point="org.eclipse.uml2.uml.generated_package">
      <profile location="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml#_uwgkMCmxEeOqNeVB2HB3cA" uri="http://www.femto-st.fr/disc/SysML4Modelica/EquationsAndAlgorithms">
      </profile>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SysML4Modelica.profile -->
      <package uri="http://www.femto-st.fr/disc/SysML4Modelica/Other" class="edu.ufc.femtost.disc.sysml4modelica.profile.other.otherPackage" genModel="profile/SysML4Modelica.profile.genmodel"></package>
   </extension>
   <extension point="org.eclipse.uml2.uml.generated_package">
      <profile location="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml#_ydnvICmxEeOqNeVB2HB3cA" uri="http://www.femto-st.fr/disc/SysML4Modelica/Other">
      </profile>
   </extension>
   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping source="pathmap://SysML4Modelica_PROFILES/" target="platform:/plugin/edu.ufc.femtost.disc.sysml4modelica.papyrus.profile/profile/">
      </mapping>
      <mapping source="pathmap://SysML4Modelica_LIBRARIES/" target="platform:/plugin/edu.ufc.femtost.disc.sysml4modelica.papyrus.profile/library/">
      </mapping>
   </extension>
   <extension point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile description="SysML-Modelica profile for SysML (from OMG SysML-Modelica Specification 1.0 beta 3 / 2012-03-19)" iconpath="icons/SysML4ModelicaProfile.png" name="SysML4Modelica" path="pathmap://SysML4Modelica_PROFILES/SysML4Modelica.profile.uml" provider="UFR-ST FEMTO-ST DISC">
      </profile>
   </extension>
   <extension point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library description="Modelica primitive types for SysML " iconpath="icons/SysML4ModelicaProfile.png" name="Modelica Primitive Types" path="pathmap://SysML4Modelica_LIBRARIES/modelica.primitivetype.uml" provider="UFR-ST FEMTO-ST DISC">
      </library>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            description="Modelica Standard Library for SysML "
            iconpath="icons/SysML4ModelicaProfile.png"
            name="Modelica Standard Library"
            path="pathmap://SysML4Modelica_LIBRARIES/modelica.library.uml"
            provider="UFR-ST FEMTO-ST DISC">
      </library>
   </extension>
</plugin>
