<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated modelica -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.ufc.femtost.disc.sysml4modelica.modelicametamodel.modelica.presentation.modelicaModelWizardID"
            name="%_UI_modelicaModelWizard_label"
            class="edu.ufc.femtost.disc.sysml4modelica.modelicametamodel.modelica.presentation.modelicaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModelicaModelFile.gif">
         <description>%_UI_modelicaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated modelica -->
      <editor
            id="edu.ufc.femtost.disc.sysml4modelica.modelicametamodel.modelica.presentation.modelicaEditorID"
            name="%_UI_modelicaEditor_label"
            icon="icons/full/obj16/ModelicaModelFile.gif"
            extensions="modelica"
            class="edu.ufc.femtost.disc.sysml4modelica.modelicametamodel.modelica.presentation.modelicaEditor"
            contributorClass="edu.ufc.femtost.disc.sysml4modelica.modelicametamodel.modelica.presentation.modelicaActionBarContributor">
      </editor>
   </extension>
</plugin>
