<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.omg.org/metamodel/modelica"
            class="edu.ufc.femtost.disc.sysml4modelica.modelicametamodel.modelica.ModelicaPackage"
            genModel="metamodel/modelica.genmodel"/>
   </extension>

</plugin>
