<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="edu.ufc.femtost.disc.sysml4modelica.ui.popup.object"
            nameFilter="*.sysml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="edu.ufc.femtost.disc.sysml4modelica.ui.menu.sysml4modelica"
               label="SysML4Modelica"
               path="additions">
            <separator
                  name="SysML4ModelicaGroup">
            </separator>
         </menu>
         <action
               class="edu.ufc.femtost.disc.sysml4modelica.ui.actions.ExportAction"
               enablesFor="1"
               id="edu.ufc.femtost.disc.sysml4modelica.ui.action.exportToModelicaModel"
               label="Export to Modelica model"
               menubarPath="edu.ufc.femtost.disc.sysml4modelica.ui.menu.sysml4modelica/SysML4ModelicaGroup">
         </action>
         <action
               class="edu.ufc.femtost.disc.sysml4modelica.ui.actions.GenerateAction"
               enablesFor="1"
               id="edu.ufc.femtost.disc.sysml4modelica.ui.action.generateModelicaCode"
               label="Generate Modelica code"
               menubarPath="edu.ufc.femtost.disc.sysml4modelica.ui.menu.sysml4modelica/SysML4ModelicaGroup">
         </action>
         <action
               class="edu.ufc.femtost.disc.sysml4modelica.ui.actions.CheckModel"
               id="edu.ufc.femtost.disc.sysml4modelica.ui.action.checkSysmlModel"
               label="Check SysML model"
               menubarPath="edu.ufc.femtost.disc.sysml4modelica.ui.menu.sysml4modelica/SysML4ModelicaGroup">
         </action>
      </objectContribution>
   </extension>

</plugin>
